body {
  font-family: 'Libre Baskerville', serif;
  background: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  /*.box {
			width: 250px;
			height: 50px;
			margin: 10px;
			padding: 25px;
			opacity: .6;
	}*/
  /*	p {background-color: white;
			width: 250px;
			height: 200px;
			margin: 10px;
			padding: 25px;
			opacity: .6;
		} */ }
  body header {
    font-size: 7rem;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    margin: 30px; }
  body img {
    width: 50%;
    max-width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 0px 100px 0px 0px; }
    @media screen and (max-width: 810px) {
      body img {
        padding: 0px 0px 0px 0px;
        display: block;
        margin-left: auto;
        margin-right: auto; } }
  body h1 {
    background-color: white;
    text-align: center; }
    @media screen and (min-width: 810px) {
      body h1 {
        padding-right: 100px; } }
  body p {
    text-align: center;
    margin-top: 50px;
    text-align: justify;
    text-justify: inter-character;
    font-size: 1.5em; }
    @media screen and (min-width: 810px) {
      body p {
        margin-right: 100px; } }
  @media screen and (min-width: 810px) {
    body .float {
      float: left;
      margin: 15px;
      width: 50%; }
    body .wrapper {
      padding: 10px; }
    body .cleared {
      clear: right; } }
  body .myflex {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    clear: both; }
  body article {
    flex: 1 100px;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 10px;
    opacity: .6; }
  body ul, body ol {
    list-style-position: inside;
    margin-right: 15px; }
  @media screen and (max-width: 500px) {
    body div {
      flex-direction: column; } }
