body {
  font-family: 'Libre Baskerville', serif;
  background: url("/images/background.jpg");
  background-size: cover;
  background-attachment: fixed; }
  body header {
    font-size: 5rem;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    margin: 30px; }
  body section {
    display: flex; }
  body img {
    width: 400px; }
  body .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%; }
  body h1 {
    background-color: white;
    text-align: center; }
  body .box {
    width: 250px;
    height: 50px;
    margin: 10px;
    padding: 25px;
    opacity: .6; }
  body p {
    background-color: white; }
  body h2 {
    background-color: white; }
  body h3 {
    background-color: white; }
  body ul {
    background-color: white;
    border: 2px solid black; }
  body ol {
    background-color: white;
    border: 2px solid black; }
