body {
	font-family: 'Libre Baskerville', serif;

	background: url("/images/background.jpg"); background-size: cover; background-attachment: fixed;

header{
	font-size: 5rem; color: white; font-weight:bold; text-shadow: 3px 3px 5px black;
	text-align: center;
	margin: 30px;

	}

	img {
		width: 400px;


	}

	.center{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 35%;
	}

	h1 { background-color: white;
				}

	.box {
			width: 250px;
			height: 50px;
			margin: 10px;
			padding: 25px;
			opacity: .6
			text-align:center;
	}

	p {background-color: white;
	}

	h2 {background-color: white;
	}

	h3{background-color: white;
	}

	ul {background-color: white;
		border: 2px solid black;
	}

	ol{ background-color: white;
		border: 2px solid black;

	}
}
