body {
	font-family: 'Libre Baskerville', serif;

	background: url("../images/background.jpg"); background-size: cover; background-attachment: fixed;

header{
	font-size: 7rem; color: white; font-weight:bold; text-shadow: 3px 3px 5px black;
	text-align: center;
	margin: 30px;

	}

	img {
		width: 50%;
		max-width: 500px;
		margin-left: 50px;
		margin-top: 50px;
		padding: 0px 100px 0px 0px;
			@media screen and (max-width: 810px) {
				padding: 0px 0px 0px 0px;
				display: block;
				margin-left: auto;
				margin-right: auto;


	}
}


	h1 { background-color: white;
				text-align: center;
			@media screen and (min-width: 810px) {
				padding-right: 100px;
		}
	}
		p {
			text-align: center;
			margin-top: 50px;
			text-align: justify;
			text-justify: inter-character;
				@media screen and (min-width: 810px) {
						margin-right: 100px;
					}
			font-size: 1.5em;



		}

	/*.box {
			width: 250px;
			height: 50px;
			margin: 10px;
			padding: 25px;
			opacity: .6;
	}*/

	@media screen and (min-width: 810px) {
		.float {
			float: left;
			margin: 15px;
			width: 50%


		}

			.wrapper {
				padding: 10px;
			}

			.cleared {
				clear: right;
			}

			.clearedboth {
				clear: both;
			}
		}

		/*	p {background-color: white;
			width: 250px;
			height: 200px;
			margin: 10px;
			padding: 25px;
			opacity: .6;
		} */

			section {
			display: flex;

			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			}

		article {
			flex: 1 100px;
			text-align: center;
			background-color: white;
			padding: 10px;
			margin: 10px;
			opacity: .6;


			}

			ul, ol {
				list-style-position: inside;
				margin-right: 15px;


			}


			@media screen and (max-width: 500px) {
				section {flex-direction: column;}


			}






}
